%# BEGIN BPS TAGGED BLOCK {{{
%# 
%# COPYRIGHT:
%#  
%# This software is Copyright (c) 1996-2010 Best Practical Solutions, LLC 
%#                                          <sales@bestpractical.com>
%# 
%# (Except where explicitly superseded by other copyright notices)
%# 
%# 
%# LICENSE:
%# 
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%# 
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%# 
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/copyleft/gpl.html.
%# 
%# 
%# CONTRIBUTION SUBMISSION POLICY:
%# 
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%# 
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%# 
%# END BPS TAGGED BLOCK }}}
% if ($ARGS{'Delete'}) {
<& /RTFM/Article/Elements/Tabs, Title => $title &>

<%$title%>
<& /Elements/ListActions, actions => \@results &>

% } else { 
<& /RTFM/Article/Elements/Tabs, Article => $ArticleObj, current_subtab =>
"RTFM/Article/Delete.html?id=".$ArticleObj->Id , id => $id, Title => $title &>

<b><&|/l&>Are you sure you want to delete this article?</&></b>
<table>
<tr>
<td align="left">
<form action="Display.html" method="get">
<input type="hidden" name="id"     value="<%$ArticleObj->Id%>" />
<input type="submit" value="<&|/l&>No</&>" />
</form>

</td>
<td align="right">
<form action="Delete.html" method="post">
<input type="hidden" name="id" value="<%$ArticleObj->Id%>" />
<input type="hidden" name="Delete" value="yes" />
<input type="submit" value="<&|/l&>Yes</&>" />
</form>
</td>

</tr>
</table>
% }
<%INIT>

my @results;

my $title;
my $ArticleObj = RT::FM::Article->new( $session{'CurrentUser'} );


$ArticleObj->Load($id);
unless ( $ArticleObj->id ) {
    $m->comp("/RTFM/Elements/Error", Why =>  loc("Unable to load article") );
}


unless ( $ArticleObj->CurrentUserHasRight('ModifyArticle') ) {
    $m->comp("/RTFM/Elements/Error", Why => "No permission to modify article");
}

if ($ARGS{'Delete'} eq 'yes') {
    $ArticleObj->Delete();
    $title = loc('Article #[_1] deleted', $ArticleObj->Id);
}

else {
    $title = loc('Delete article #[_1]', $ArticleObj->Id);
}
</%INIT>
<%ARGS>
$id => undef
</%ARGS>
