%# BEGIN BPS TAGGED BLOCK {{{
%# 
%# COPYRIGHT:
%#  
%# This software is Copyright (c) 1996-2010 Best Practical Solutions, LLC 
%#                                          <sales@bestpractical.com>
%# 
%# (Except where explicitly superseded by other copyright notices)
%# 
%# 
%# LICENSE:
%# 
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%# 
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%# 
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/copyleft/gpl.html.
%# 
%# 
%# CONTRIBUTION SUBMISSION POLICY:
%# 
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%# 
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%# 
%# END BPS TAGGED BLOCK }}}
<& /Admin/RTFM/Elements/ClassTabs, id => $id, Title => loc('Modify group rights for Class [_1]', $ClassObj->Name) &>
<& /Elements/ListActions, actions => \@results &>

<form method="post" action="GroupRights.html">
<input type="hidden" name="id" value="<% $ClassObj->id %>" />
<& /Elements/TitleBoxStart, title => loc('Modify group rights for Class [_1]', $ClassObj->Name) &>
<h1><&|/l&>System groups</&></h1>
<table>
% $Groups = RT::Groups->new($session{'CurrentUser'});
% $Groups->LimitToSystemInternalGroups();
% while (my $Group = $Groups->Next()) {
<tr align="right">
	<td valign="top"><% loc($Group->Type) %></td>
	<td><& /Admin/Elements/SelectRights, PrincipalId => $Group->PrincipalId, Object => $ClassObj &></td>
</tr>
% }
</table>
<h1><&|/l&>User defined groups</&></h1>
<table>
% $Groups = RT::Groups->new($session{'CurrentUser'});
% $Groups->LimitToUserDefinedGroups();    
% while (my $Group = $Groups->Next()) {
<tr align="right"> 
	<td valign="top"><% $Group->Name %></td>
	<td><& /Admin/Elements/SelectRights, PrincipalId => $Group->PrincipalId, Object => $ClassObj &></td>
</tr>
% }
</table>

<& /Elements/TitleBoxEnd &>
<& /Elements/Submit, Caption => loc("Be sure to save your changes"), Reset => 1 &>
</form>
<%INIT>

if (!defined $id) {
    $m->comp("/RTFM/Elements/Error", Why => loc("No Class defined"));
}

my $ClassObj = RT::FM::Class->new($session{'CurrentUser'});
$ClassObj->Load($id) || $m->comp("/RTFM/Elements/Error", Why => loc("Couldn't load Class [_1]",$id));

my $Groups;
  #Update the acls.

  my ( $ACL);

  my @results =  ProcessACLChanges(\%ARGS);
</%INIT>
<%ARGS>
$id => undef
</%ARGS>
