%# BEGIN BPS TAGGED BLOCK {{{
%# 
%# COPYRIGHT:
%#  
%# This software is Copyright (c) 1996-2010 Best Practical Solutions, LLC 
%#                                          <sales@bestpractical.com>
%# 
%# (Except where explicitly superseded by other copyright notices)
%# 
%# 
%# LICENSE:
%# 
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%# 
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%# 
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/copyleft/gpl.html.
%# 
%# 
%# CONTRIBUTION SUBMISSION POLICY:
%# 
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%# 
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%# 
%# END BPS TAGGED BLOCK }}}
<& /Admin/RTFM/Elements/ClassTabs, current_tab => 'Admin/RTFM/Classes/', current_subtab => 'Admin/RTFM/Classes/', Title => loc("Select a Class") &>

<table>
<tr>
<td><%$caption%>:<br />
<ul>
% if (scalar @allowed_classes == 0) {
<li><i><&|/l&>No Classes matching search criteria found.</&></i></li>
% }
% foreach my $class ( @allowed_classes ) {
% if ($session{'CurrentUser'}->UserObj->HasRight(Right => 'AdminClass', Object => $class)) {
<li><a href="Modify.html?id=<%$class->id%>"><%$class->Name%></a></li>
% } else {
<li><a href="Topics.html?id=<%$class->id%>"><%$class->Name%></a></li>
% }
%}
</ul>
</td>
</tr>
<tr>
<td valign="top">
<form method="post" action="<% $RT::WebPath %>/Admin/RTFM/Classes/index.html">
<input type="checkbox" name="FindDisabledClasses" value="1" /><&|/l&>Include disabled classes in listing.</&><br />
<div align="right"><input type="submit" value="<&|/l&>Go!</&>" /></div> 
</form>
</td>
</tr>
</table>
<%INIT>
my $caption;
my $Classes = new RT::FM::ClassCollection($session{'CurrentUser'});
my @allowed_classes;

if ($FindDisabledClasses) {
    $caption = loc("All Classes");
    $Classes->{'find_disabled_rows'} = 1;
    $Classes->UnLimit();
} else {
    $caption = loc("Enabled Classes");
    $Classes->LimitToEnabled(); 

}
# Limit to only those classes that the user may admin.
while (my $class = $Classes->Next()) {
    push(@allowed_classes, $class) if $session{'CurrentUser'}->UserObj->HasRight(Right => 'AdminClass', Object => $class)
      or $session{'CurrentUser'}->UserObj->HasRight(Right => 'AdminTopics', Object => $class);
}

</%INIT>
<%ARGS>
$FindDisabledClasses => 0
</%ARGS>
