%# BEGIN BPS TAGGED BLOCK {{{
%# 
%# COPYRIGHT:
%#  
%# This software is Copyright (c) 1996-2010 Best Practical Solutions, LLC 
%#                                          <sales@bestpractical.com>
%# 
%# (Except where explicitly superseded by other copyright notices)
%# 
%# 
%# LICENSE:
%# 
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%# 
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%# 
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/copyleft/gpl.html.
%# 
%# 
%# CONTRIBUTION SUBMISSION POLICY:
%# 
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%# 
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%# 
%# END BPS TAGGED BLOCK }}}
<& /Admin/RTFM/Elements/ClassTabs, id => $ClassObj->id, current_tab =>
$current_subtab, Title => $title &>
<& /Elements/ListActions, actions => \@results &>

<form action="<%$RT::WebPath%>/Admin/RTFM/Classes/Modify.html" method="post">
<input type="hidden" name="Submitted" value="1" />
%if ($Create ) {
<input type="hidden" name="id" value="new" />
% } else {
<input type="hidden" name="id" value="<%$ClassObj->Id%>" />
% }

<table>
<tr>
<td align="right"><&|/l&>Class Name</&>: </td>
<td><input name="Name" value="<% $Create ? '' : $ClassObj->Name %>" /></td>
</tr>
<tr>
<td align="right"><&|/l&>Description</&>:</td>
<td><input name="Description" value="<% $Create ? '' : $ClassObj->Description %>" size=60 /></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input type="checkbox" name="Enabled" value="1" <%$EnabledChecked%>> <&|/l&>Enabled (Unchecking this box disables this class)</&></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input type="checkbox" name="HotList" value="1" <%$HotListChecked%>> <&|/l&>All Articles in this class should be listed in a dropdown of the ticket reply page</&></td>
</tr>
</table>

<h3>When inserting articles in this class into emails:</h3>
<ul>
<li><input type="checkbox" name="Include-Name" value="1" <% $include{Name} %>> Include article name</li>
<li><input type="checkbox" name="Include-Summary" value="1" <% $include{Summary} %>> Include article summary</li>
% while (my $cf = $cfs->Next) {
<li>Include custom field '<% $cf->Name %>'
  <ul>
    <li><input type="checkbox" name="Include-CF-Title-<% $cf->Id %>" <% $include{"CF-Title-".$cf->Id} %> />Title</li>
    <li><input type="checkbox" name="Include-CF-Value-<% $cf->Id %>" <% $include{"CF-Value-".$cf->Id} %> />Value</li>
  </ul>
</li>
% }
</ul>

<& /Elements/Submit &>
</form>

<%INIT>

my $ClassObj = new RT::FM::Class($session{'CurrentUser'});
my  ($title, @results, $Disabled);

if ($Create) {
    $title = loc("Create a Class");
} else {
    if ($id eq 'new') {
        my ($val, $msg) =  $ClassObj->Create(Name => $Name);
        if ($val == 0 ) {
            $m->comp("/RTFM/Elements/Error", Why => "$msg");
        } else {
            push @results, $msg;
        }    
    } else {
        $ClassObj->Load($id) || $ClassObj->Load($Name) || $m->comp("/RTFM/Elements/Error", Why => "Couldn't load class '$Name'");
    }
    $title = loc('Editing Configuration for Class [_1]', $ClassObj->Name);
}

if ($ClassObj->Id()) {
    $ARGS{HotList} ||= 0 if $Submitted;
    my @attribs= qw(Description Name HotList);
    @results = UpdateRecordObject( AttributesRef => \@attribs, 
                                   Object => $ClassObj, 
                                   ARGSRef => \%ARGS);
}

#we're asking about enabled on the web page but really care about disabled.
if ($Enabled == 1 or (not defined $Enabled and $Create)) {
    $Disabled = 0;
} else {
    $Disabled = 1;
}

my %include = (Name => 1, Summary => 1);
my $cfs = $ClassObj->ArticleCustomFields;
$include{"CF-Title-".$_->Id} = $include{"CF-Value-".$_->Id} = 1 while $_ = $cfs->Next;

if  ( $Submitted ) {
    if ( $Disabled != $ClassObj->Disabled) {
        my  ($code, $msg) = $ClassObj->SetDisabled($Disabled);
        push @results, loc('Enabled status [_1]', loc_fuzzy($msg));
    }

    for (keys %include) {
        if ($ARGS{"Include-$_"}) {
            $ClassObj->DeleteAttribute("Skip-$_");
        } else {
            $ClassObj->SetAttribute(Name => "Skip-$_", Content => 1);
        }
    }
}

$include{$_} = not $ClassObj->FirstAttribute("Skip-$_") for keys %include;
$include{$_} = $include{$_} ? " CHECKED" : "" for keys %include;

my $EnabledChecked = ($Create ? $Disabled : $ClassObj->Disabled()) ? "" : "CHECKED";
my $HotListChecked = $ClassObj->HotList ? "CHECKED" : "";

my $current_subtab;
if ($Create && $Create == 1) {
    $current_subtab = "Admin/RTFM/Classes/Modify.html?Create=1";
} else { 
    $current_subtab = "Admin/RTFM/Classes/Modify.html?id=$id";
}
</%INIT>


<%ARGS>
$id => undef
$result => undef
$Name => undef
$Create => undef
$Description => undef
$Submitted => undef
$Enabled => undef
</%ARGS>
